header {
    background-color: $primary-color;
    max-width: 2000px;
    width: 100%;
    height: auto;
  
    .navbar{
        padding:0!important;
    }

    .navbar-brand{
        padding:0;
    }

    

  
    li {
      a {
        color: #ffffff !important;
        margin-left: 25px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 90% !important;
      }
    }
  
    #mobile_button {
      visibility: hidden;
    }
  
    .logo-img {
      content: url("../img/bueno\ finance\ logo.svg");
      width: auto;
      height: 68px;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  
    .logo-mobile{
      content: url("../img/hamburger.png");
    }
  
    @media screen and (max-width: 991px) {
      height: auto !important;
  
      .logo-img {
        height: 32px;
      }
      #mobile_button {
        
        color: #ffffff !important;
       
        cursor: pointer;
        display: block;
        visibility: visible;
      }

      .logo-img {
        
        margin-top:14px;
        margin-bottom: 14px;
      }
    }
  }